/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font, sans-serif);
  font-variation-settings: "wght" var(--font-weight-text, 410);
  font-size: 18px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image:
    repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(#e7e7e7, #e7e7e7 0.01%, #1a1a1a);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 100px;
}

.container {
  inline-size: clamp(375px, calc(375px + 325 * ((100vw - 375px) / 1065)), 700px);
  margin-inline: auto;
}

.header {
  display: grid;
  align-items: center;
  justify-items: center;
  row-gap: 20px;
  font-family: var(--accent-font, monospace);
  font-weight: var(--font-weight-accent-text, 400);
  text-transform: uppercase;
  color: #000;
  border: var(--border, 2px solid #000);
  background-color: #fff;
  padding-block: clamp(122px, calc(119.2px + 0.75vw), 130px);
  margin-block-end: 100px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.cards__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.cards__list-item {
  border: var(--border, 2px solid #000);
  background-color: #fff;
}

.cards__list-item-title {
  padding: 4px 10px;
  font-variation-settings: "wght" var(--font-weight-title, 715);
  font-size: 18px;
}

.cards__list-item-image-wrapper {
  position: relative;
  border-block-start: var(--border, 2px solid #000);
  border-block-end: var(--border, 2px solid #000);
}

.cards__list-item-image {
  position: relative;
  z-index: 0;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  aspect-ratio: 1 / 1;
}

.filter-contrast {
  filter: contrast(1.5);
}

.filter-saturate {
  filter: saturate(1.2);
}

.filter-brightness {
  filter: brightness(0.5);
}

.filter-grayscale {
  filter: grayscale(1);
}

.filter-brightness-blur {
  filter: brightness(0.8) blur(2px);
}

.filter-invert {
  filter: invert(1);
}

.filter-brightness-contrast {
  filter: brightness(0.8) contrast(1.2);
}

.filter-multi {
  filter: brightness(0.9) contrast(1.2) saturate(1.5) hue-rotate(25deg);
}

.cards__list-item-image-label {
  position: absolute;
  z-index: 1;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  font-family: var(--accent-font, monospace);
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    -1px 0 var(--text-stroke-color, #fff),
    0 1px var(--text-stroke-color, #fff),
    1px 0 var(--text-stroke-color, #fff),
    0 -1px var(--text-stroke-color, #fff);
}

@supports (
  (text-stroke: 1px var(--text-stroke-color, #fff)) or
    (-webkit-text-stroke: 1px var(--text-stroke-color, #fff))
) {

  .cards__list-item-image-label {
    -webkit-text-stroke: 1px var(--text-stroke-color, #fff);
    text-stroke: 1px var(--text-stroke-color, #fff);
    text-shadow: none;
  }
}

.cards__list-item-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.cards__list-item-content-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.cards__list-item-content-buttons {
  display: flex;
  justify-content: end;
  gap: 12px;
}

.button {
  cursor: pointer;
}

.button:focus,
.button:hover,
.button:focus-visible {
  border: none;
}

.button-with-text {
  position: relative;
  overflow: hidden;
  outline: var(--border, 2px solid #000);
  color: var(--button-color, #fff);
  background-color: var(--button-color, #fff);
}

.button-with-text::before {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: #000;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button-with-text:focus-visible {
  filter: drop-shadow(2px 2px 0 #000);
  /* box-shadow: 2px 2px 0 0 #000; - это свойство отображается некорректно в сравнении с макетом */
  transition: box-shadow 0.3s ease;
}

.button-with-text:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  padding: 9px 17px;
  min-inline-size: 130px;
  min-block-size: 38px;
}

.button__text {
  display: block;
  position: relative;
  z-index: 1;
  font-family: var(--accent-font, monospace);
  font-size: 14px;
  line-height: 0.9;
  font-weight: var(--font-weight-accent-text, 400);
  mix-blend-mode: difference;
}

.card__icon-button {
  outline: 2px solid rgb(0 0 0 / 0);
  transition: outline-color 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: 2px solid rgb(0 0 0 / 1);
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.contour {
  transition: fill 0.1s linear;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  transition-delay: 0s;
  fill: var(--fill-color-contour, #000);
}

.like-icon:hover .main-body {
  transition-delay: 0.05s;
  fill: var(--fill-color-contour, #000);
}

.like-icon:active .core {
  transition-delay: 0s;
  fill: var(--animation-fill-color, #f00);
}

.like-icon:active .main-body {
  transition-delay: 0.05s;
  fill: var(--animation-fill-color, #f00);
}

.like-icon.is-liked .contour {
  transition-delay: 0s;
  fill: var(--animation-fill-color, #f00);
}

.like-icon.is-liked .main-body {
  transition-delay: 0.05s;
  fill: var(--animation-fill-color, #f00);
}

.like-icon.is-liked .core {
  transition-delay: 0.06s;
  fill: var(--animation-fill-color, #f00);
}

.is-liked .heart {
  transform-origin: center;
  animation: scaleUp 0.3s ease-in 0.1s 1;
}

.is-liked .sparks {
  animation: fadeIn 0.3s ease-in 0.3s 1;
}

.floppy-save-it-button {
  max-inline-size: 28px;
  position: relative;
  z-index: 1;
}

.floppy-settings {
  mix-blend-mode: difference;
}

.save-it-button {
  margin-block-start: 50px;
  margin-inline: auto;
  padding: 17px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.dialog {
  position: fixed;
  border: none;
  margin: 0;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  max-width: none;
  inline-size: clamp(
    341px,
    calc(341px + (12 * ((100vw - 375px) / 1065))),
    353px
  );
  background-color: #fff;
  outline: var(--border, 2px solid #000);
  padding-inline: clamp(
    30px,
    calc(30px + 10 * ((1440px - 100vw) / 1065)),
    40px
  );
  padding-block: 30px;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.dialog-text-wrapper {
  display: flex;
  gap: 20px;
}

.floppy-dialog {
  max-inline-size: 39px;
  color: var(--button-color, #fff);
}

.dialog-text {
  font-family: var(--accent-font, monospace);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog .button {
  padding: 9px 17px;
  min-block-size: 38px;
  inline-size: clamp(261px, calc(261px + 32 * ((100vw - 375px) / 1065)), 293px);
  text-transform: uppercase;
}

.dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width > 375px) {

  .floppy-save-it-button {
    max-inline-size: 21px;
  }

  .save-it-button {
    flex-direction: row;
    min-inline-size: 335px;
  }
}
