:root {
  --main-font: Inter-Variable, sans-serif;
  --accent-font: PressStart2P, monospace;
  --font-weight-text: 410;
  --font-weight-title: 715;
  --fill-color-contour: #000;
  --animation-fill-color: #FF0000;
  --fill-color-core: #fff;
  --text-stroke-color: #fff;
  --border: 2px solid #000;
  --button-color: #fff;
}