:root {
  --main-font: Inter-Variable, sans-serif;
  --accent-font: PressStart2P, monospace;
  --font-weight-text: 410;
  --font-weight-title: 715;
  --fill-color-contour: #000;
  --animation-fill-color: #FF0000;
  --fill-color-sparks: #FF0000;
  --text-stroke-color: #fff;
  
  /* --accent-color: #FF0070;
  --main-bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --main-text-color: #F1B2CE;
  --nav-color: #FF0070;
  --nav-hover-color: rgba(255, 0, 112, 0.4);
  --main-heading-color: #000028;
  --section-heading-color: #FF0070;
  --main-gap: 10px;
  --main-margin: 40px;
  --main-text-size: 18px;
  --main-line-height: 1.3;
  --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --logo-color: #DB00FF; */
}