:root {
  --main-font: inter-variable, sans-serif;
  --accent-font: pressstart2p, monospace;
  --font-weight-text: 410;
  --font-weight-title: 715;
  --font-weight-accent-text: 400;
  --fill-color-contour: #000;
  --animation-fill-color: #f00;
  --fill-color-core: #fff;
  --text-stroke-color: #fff;
  --border: 2px solid #000;
  --button-color: #fff;
}
